 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
<!--  		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a> -->	
 	</div>
	<nav class="main-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
            <li><a href="#/ballroom">Банкетный зал</a></li>
            <li><a href="#/gallery">Галерея</a></li>
			<li><a href="#/history">История</a></li>
			<li><a href="#/vacancies">Вакансии</a></li>
			<li class="active"><a href="#/contacts">Контакты</a></li>
			<li> </li>
			<li> </li>
		</ul>
	</nav>	
 </article>

 <article class="container">
 		<h2>Контактная информация ООО "Зегам"</h2>

		<div class="address">
	 		<h3>Адрес:</h3>
	 		<p>
				230020, Республика Беларусь<br>
				 г. Гродно, проспект Клецкова 15а<br>
			</p>
            <div class="phones">
                    <p>Пиццерия:<br>
                    Тел.: 8 (0152) 50-92-86<br>
                    +375(33) 300-00-85 (МТС)<br>
                    +375(44) 566-22-28 (Velcom)</p>

                    <p>Ресторан:<br>
                    Тел.: 8 (0152) 50-92-88<br>
                    +375(33) 300-00-84 (МТС)<br>
                    +375(44) 566-22-27 (Velcom)</p>
				</div>
			<!--<div class="call-center">-->
					<!--<img src="./img/call.png">-->
					<!--Call-Center 777-->
			<!--</div>	-->
			

		</div>
		

		<div class="map rounded">
 			<!-- <script type="text/javascript" charset="utf-8" src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fnZ-ZeLrt2EyQUFVbBdfj6vkO4bUwXBZ&width=500&height=300"></script>
 		-->
            <img src="//api-maps.yandex.ru/services/constructor/1.0/static/?sid=cQq-iKRxhnhT6tgFvz7h42OKZoTdXvKd&width=530&height=320" alt=""/>
		</div>
	
	<div class="company-data">
		<h3>Электронная почта:</h3>
		<p><a href="mailto:zegam@yandex.by">zegam@yandex.by</a></p>
	</div>




 </article>

 <article class="right width10">

<!-- 	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section> --> 	
 </article>