.idea/
/admin/web/bundles/acmedemo/
/admin/web/bundles/framework/
/admin/web/bundles/sensiodistribution/
/admin/app/bootstrap*
/admin/app/cache/*
/admin/app/logs/*
/admin/vendor/
/admin/app/config/parameters.yml
/admin/.idea

/front-end/.idea
/front-end/app/content/files*
/front-end/app/content/news/en/*
/front-end/app/content/news/ru/*
/front-end/app/content/static/en/*
/front-end/app/content/static/ru/*
