 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
 		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a>	
 	</div>
	<nav class="main-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
			<li><a href="#/gallery">Галерея</a></li>
			<li class="active"><a href="#/ballroom">Банкетный зал</a></li>
			<li><a href="#/history">История</a></li>
			<li><a href="#/vacancies">Вакансии</a></li>
			<li><a href="#/contacts">Контакты</a></li>
			<li><a href="#">Онлайн-чат</a></li>
			<li><a href="#">Call-Center</a></li>
		</ul>
	</nav>	
 </article>

 <article class="container">
 		<h2>Банкетный зал ресторанного комплекса "Туран"</h2>

 		<div class="contacts-description">
 			<div class="position-block">
 				<b>Время работы:</b><br>
 				индивидуально для заказчика
 			</div>
 			<div class="position-block">
 				<b>Тел:</b> 8033 300 00 86
 				
 			</div>
 			<div class="position-block">
 				<b>Электронная почта:</b><br>
 				<a href="mailto:banket.zal@turan.by">banket.zal@turan.by</a>

 			</div>
 		</div>
 		<div class="panoram-view ballroom">
 		<section class="rounded">
			<iframe src="asset/index.html" width="100%" height="250px" style="border: 0px;">
				    Ваш браузер не поддерживает плавающие фреймы!
			</iframe>
			
			<a href="#" class="btn"> Панорама </a>
			<a href="#" class="btn"> Фото </a>
			<a href="#" class="btn"> План зала </a>
 		</section>
		</div>
		<div class="sub-menu">
			<ul>
				<li><a href="#">Меню</a></li>
				<li><a href="#">Коктельная карта</a></li>
				<li><a href="#">Бронирование</a></li>
				<li><a href="#">Спец. предложения</a></li>
			<ul>
		</div>

		<div class="info">
			Роскошный и восхитительный, просторный и элегантный –  банкетный зал  «Туран» покоряет своей простой и изящностью. Выполненный в пастельных тонах он, как чистая страница, приглашает вас написать свою историю праздника: будь то появление новой семьи, полувековое путешествие по дороге жизни или день рождения успешного бизнеса. -150 посадочных мест; -проведение конференций; -услуга «аренда зала»;
		</div>
	

 </article>

 <article class="right width10">

	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#">Зарегестрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#">Не можите войти?</a>
	</section> 	
 </article>