<article class="menu left">
    <nav class="mobile-menu"></nav>
    <nav class="mobile-search"></nav>
    <div class="nav-buttons">
        <a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
            <div class="btn-menu"></div>
        </a>
        <!--  		<a href="#" class="right">
                     <div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
                 </a>	 -->
    </div>
    <nav class="main-menu">
        <!-- directive: mainMenu -->
    </nav>
</article>

<article class="container">
<h2>{{'GALLERY_PAGE_TITLE'|translate}}</h2>
<div class="gallery-description">{{'GALLERY_DESC'|translate}}</div>
<div class="gallery-links">
    <a href="#/gallery">{{'GALLERY_PHOTOS'|translate}}</a>
    <!-- <a href="#">Видеоролики</a> -->
</div>
<div class="gallery-item-description">Вип-фуршет в честь официального открытия (17 ноября)</div>
<div class="gallery">
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0262.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0262.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0266.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0266.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0267.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0267.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0268.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0268.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0269.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0269.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0273.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0273.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0274.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0274.jpg" />
    </a>
</div>

<div class="image-item left">
    <a href="./img/gallery/open/DSC_0281.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0281.jpg" />
    </a>
</div>



<div class="image-item left">
    <a href="./img/gallery/open/DSC_0296.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0296.jpg" />
    </a>
</div>


<div class="image-item left">
    <a href="./img/gallery/open/DSC_0304.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0304.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0306.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0306.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0309.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0309.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0311.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0311.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0313.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0313.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0320.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0320.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0321.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0321.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0323.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0323.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0327.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0327.jpg" />
    </a>
</div>

<div class="image-item left">
    <a href="./img/gallery/open/DSC_0333.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0333.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0334.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0334.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0337.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0337.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0338.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0338.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0339.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0339.jpg" />
    </a>
</div>

<div class="image-item left">
    <a href="./img/gallery/open/DSC_0342.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0342.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0343.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0343.jpg" />
    </a>
</div>

<div class="image-item left">
    <a href="./img/gallery/open/DSC_0345.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0345.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0347.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0347.jpg" />
    </a>
</div>

<div class="image-item left">
    <a href="./img/gallery/open/DSC_0359.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0359.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0360.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0360.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0362.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0362.jpg" />
    </a>
</div>

<div class="image-item left">
    <a href="./img/gallery/open/DSC_0366.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0366.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0372.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0372.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0377.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0377.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0379.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0379.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0380.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0380.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0391.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0391.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0395.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0395.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0401.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0401.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0402.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0402.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0411.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0411.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0415.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0415.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0417.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0417.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0418.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0418.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0426.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0426.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0434.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0434.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0436.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0436.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0458.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0458.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0462.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0462.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0463.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0463.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0508.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0508.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0515.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0515.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0533.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0533.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0546.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0546.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0547.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0547.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0551.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0551.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0553.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0553.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0554.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0554.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0603.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0603.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0606.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0606.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0616.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0616.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0618.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0618.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0619.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0619.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0636.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0636.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0668.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0668.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0670.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0670.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0675.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0675.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0678.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0678.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0680.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0680.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0681.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0681.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0709.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0709.jpg" />
    </a>
</div>
<div class="image-item left">
    <a href="./img/gallery/open/DSC_0713.jpg" data-lightbox="galery-item">
        <img src="./img/gallery/open/DSC_0713.jpg" />
    </a>
</div>


</div>

<div class="pagination rounded">
    <div class="preview"><a href="#/gallery/open"><<{{'PREVIOUS_BTN' | translate}}</a></div>
    <div class="page">1/1</div>
    <div class="next"><a href="#/gallery/open">{{'NEXT_BTN' | translate}}>></a></div>
</div>
</article>

<article class="right width10">

    <!-- 	<section class="search-form">
            <form>
                <input type="text" class="search" placeholder="Поиск по сайту..." /><br>
                <input type="submit" name="search" class="btn" value="Найти">
            </form>
        </section>

        <section class="login-form">
            <a href="#/registration">Зарегистрироваться</a>
            <form>
                   <input type="text" placeholder="Имя" /><br>
                   <input type="password" placeholder="Пароль" /><br>
                   <input type="submit" name="search" class="btn" value="Войти">
              </form>
            <a href="#/recover">Не можите войти?</a>
        </section> 	 -->
</article>