 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
<!--  		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a> -->	
 	</div>
	<nav class="main-menu">
        <!-- directive: mainMenu -->
	</nav>	
 </article>

 <article class="container">
	<h2>{{'GALLERY_PAGE_TITLE'|translate}}</h2>
	<div class="gallery-description">{{'GALLERY_DESC'|translate}}</div>
	<div class="gallery-links">
		<a href="#/gallery">{{'GALLERY_PHOTOS'|translate}}</a>
		<!-- <a href="#">{{'GALLERY_VIDEOS'|translate}}</a> -->
	</div>
	<div class="gallery">
		<div class="image-box left">
                <a href="#/gallery/open">
                    <img src="./img/gallery/open/DSC_0343.jpg" />
                </a>
                <div class="image-title">
                    <a href="#/gallery/open">
                        Торжественное открытие 17.11.2013 г.
                    </a>
                </div>
		</div>
	</div>
	
	<div class="pagination rounded">
 		<div class="preview"><a href="#/gallery"><<НАЗАД</a></div>
 		<div class="page">1/1</div>
 		<div class="next"><a href="#/gallery">ДАЛЬШЕ>></a></div>
 	</div>
 </article>

 <article class="right width10">

<!-- 	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section> 	 -->
 </article>