 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
<!--  		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a>	 -->
 	</div>
	<nav class="main-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
			<li class="active"><a href="#/gallery">Галерея</a></li>
			<li><a href="#/ballroom">Банкетный зал</a></li>
			<li><a href="#/history">История</a></li>
			<li><a href="#/vacancies">Вакансии</a></li>
			<li><a href="#/contacts">Контакты</a></li>
			<li> </li>
			<li> </li>
		</ul>
	</nav>	
 </article>

 <article class="container">
	<h2>Галерея ресторанного комплекса "Туран"</h2>
	<div class="gallery-description">В данном разделе представленны фотографии и видеоотчеты прошедших мероприятий в нашем комплексе.</div>
	<div class="gallery-links">
		<a href="#/gallery">Фотографии</a>
		<!-- <a href="#">Видеоролики</a> -->
	</div>
	<div class="gallery-item-description">Фотоотчет с детского праздника Шоу профессора "Вуаля" 18.08.2013г. (123 шт.)</div>
	<div class="gallery">
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		
		<div class="image-item left">
			<a href="./img/gallery/g1938.png" data-lightbox="galery-item"> 
				<img src="./img/gallery/g1938.png" />
			</a>	
		</div>		

	</div>
	
	<div class="pagination rounded">
 		<div class="preview"><a href="#"><<НАЗАД</a></div>
 		<div class="page">1/10</div>
 		<div class="next"><a href="#">ДАЛЬШЕ>></a></div>
 	</div>
 </article>

 <article class="right width10">

<!-- 	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section> 	 -->
 </article>