 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
 		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a>	
 	</div>
	<nav class="main-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
			<li><a href="#/gallery">Галерея</a></li>
			<li><a href="#/ballroom">Банкетный зал</a></li>
			<li class="active"><a href="#/history">История</a></li>
			<li><a href="#/vacancies">Вакансии</a></li>
			<li><a href="#/contacts">Контакты</a></li>
			<li> </li>
			<li> </li>
		</ul>
	</nav>	
 </article>

 <article class="container">
	<div class="history">
		<h2>История</h2>
		<p>Туран создан для того, чтобы Вы могли воплотить все свои желания и фантазии в жизнь.
		</p>
		<p>Uникальность ресторанного комплекса состоит в том, что здесь каждый может найти зал по своему вкусу. Празднуете день рождения? Добро пожаловать в пиццерию! Организовывайте корпоратив? К вашим услугам ресторан. Планируйте роскошную свадьбу? Приглашаем в банкетный зал.
		</p>	


		<p>
		Rазвлекательные программы, юмористические шоу, театрализованные представления, карнавальные вечеринки – мы готовы удивлять наших гостей снова и снова, сопровождая каждый праздник уникальными развлекательными номерами и живой музыкой. «Туран» – это идеальное сочетание отдыха для души и тела.
		</p>
		<div class="image-box left">
			<img src="./img/gallery/g2214.png" />
			<div class="image-title">Шоу профессора «Вуаля» 18. 08. 2013 г.</div>
		</div>

		<p>	
		Атмосфера безграничного гостеприимства в соединении с европейскими кулинарными традициями сделает ваш вечер в «Туране» приятным и запоминающимся. Старательные официанты и опытные шеф-повара приложат максимум усилий для того, чтобы угодить даже самым требовательным посетителям.   
		</p>
		<p>
		Nе стоит отказывать себе в удовольствии… Посетите «Туран» – откройте для себя мир изысканных блюд, безукоризненного обслуживания и притягательной атмосферы праздника, устроенного в вашу честь. Помните, желания обязательно должны сбываться.
		</p> 
		<p class="right">С уважением, ваш «Туран»</p>
	</div>	

 </article>

 <article class="right width10">

	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section> 	
 </article>