 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
<!--  		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a> -->	
 	</div>
	<nav class="main-menu">
		<ul>
			<li class="active"><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
            <li><a href="#/ballroom">Банкетный зал</a></li>
            <li><a href="#/gallery">Галерея</a></li>
			<li><a href="#/history">История</a></li>
			<li><a href="#/vacancies">Вакансии</a></li>
			<li><a href="#/contacts">Контакты</a></li>
			<li> </li>
		</ul>
	</nav>	
 </article>

 <article class="container">
	<div class="panoram-view">
 		<section class="rounded">
	<!-- 		<iframe class="main-panoram-view" src="asset/pizza-img.html" width="820px" height="300px" style="border: 0px;">
				    Ваш браузер не поддерживает плавающие фреймы!
			</iframe> -->
			<img class="main-panoram-view" src='asset/images/1.jpg'>
			<a href="#" class="btn active" onclick="mainJs.changePanoranView('main-panoram-view', 'asset/images/1.jpg'); return false;"> Пиццерия </a>
			<a href="#" class="btn" onclick="mainJs.changePanoranView('main-panoram-view', 'asset/images/3.jpg'); return false;"> Ресторан </a>
			<a href="#" class="btn" onclick="mainJs.changePanoranView('main-panoram-view', 'asset/images/4.jpg'); return false;"> Банкетный зал </a>
 		</section>
	</div>

 	<section class="news">

 		<div class="news-items">

 			<div class="news-item">
	 			<div class="news-item-title">
	 				Туран ищет таланты
	 				<div class="news-item-date">19.11.2013 23:25</div>
	 			</div>
	 			<div class="news-item-separator"></div>
	 			<div class="news-item-preview-text">
	 				Мы постоянно совершенствуем и обновляем свою культурную программу. Нас интересуют вокалисты, музыканты, танцоры и все-все-все, кто любит и умеет делать шоу. Вы всегда можете предложить нам сотрудничество, написав на <a href="mailto:zegam@yandex.ru">zegam@yandex.ru</a> или позвонив по номеру 54-10-35. 
	 			</div>
	 			<div class="news-item-readmore">
	 				<a href="#/news/1">Подробно...</a>
	 			</div>
	 		</div>

 			<div class="news-item">
	 			<div class="news-item-title">
	 				Новогодняя ночь
	 				<div class="news-item-date">19.11.2013 23:25</div>
	 			</div>
	 			<div class="news-item-separator"></div>
	 			<div class="news-item-preview-text">
	 				Вопрос "где отметить?" многих из нас мучает из года в год. Туран - новое предложение и вы тоже можете стать участником первой в истории новогодней ночи в красном зале! В Красном Зале (ресторан) готовится специальная новогодняя программа. 
	 			</div>
	 			<div class="news-item-readmore">
	 				<a href="#/news/2">Подробно...</a>
	 			</div>
	 		</div>

	 		<div class="news-item">
	 			<div class="news-item-title">
	 				Сайт взлетел
	 				<div class="news-item-date">19.11.2013 23:25</div>
	 			</div>
	 			<div class="news-item-separator"></div>
	 			<div class="news-item-preview-text">
	 				Мы рады приветствовать вас на нашем сайте! Тут можно совершить виртуальную экскурсию по залам, просмотреть фотографии, узнать о последних нововведениях (которых грядет очень много!), а в будущем - даже ознакомиться с меню в режиме онлайн. Обо всех новостях можно также узнать на нашей странице в Вконтакте: <a href="http://vk.com/turanpizza">http://vk.com/turanpizza</a> <br>Оставайтесь с нами! 
	 			</div>
	 			<div class="news-item-readmore">
	 				<a href="#/news/3">Подробно...</a>
	 			</div>
	 		</div>
 		</div>
 	</section>

 </article>

 <article class="right width10">

<!-- 	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section>  -->	
 </article>