 <article class="menu left">
 	<div class="nav-buttons">
 		<div class="left">
 			<a href="#" class="btn-menu"></a>
 		</div>
 		<div class="right">
 			<a href="#" class="btn-login"></a>
 		</div>	
 	</div>
	<nav>
		<ul>
			<li class="active"><a href="#">Главная</a></li>
			<li><a href="#">Ресторан</a></li>
			<li><a href="#">Пиццерия</a></li>
			<li><a href="#">Галерея</a></li>
			<li><a href="#">Банкетный зал</a></li>
			<li><a href="#">История</a></li>
			<li><a href="#">Вакансии</a></li>
			<li><a href="#">Контакты</a></li>
			<li><a href="#">Онлайн-чат</a></li>
			<li><a href="#">Call-Center</a></li>
			<li><a href="#">Клуб</a></li>
		</ul>
	</nav>	
 </article>

 <article class="container">
 	<section class="rounded">
	<iframe id="panoram-view" src="asset/index.html" width="100%" height="300px" style="border: 0px;">
		    Ваш браузер не поддерживает плавающие фреймы!
	</iframe>
	
	<a href="#" class="btn"> Пиццерия </a>
	<a href="#" class="btn"> Ресторан </a>
	<a href="#" class="btn"> Банкетный зал </a>
 	</section>

 	<section class="news">
 		<h2>Новости:</h2>
 		<div class="news-items">

 			<div class="news-item">
	 			<div class="news-item-title">
	 				Название темы
	 				<div class="news-item-date">Вчера 23:25</div>
	 			</div>
	 			<div class="news-item-separator"></div>
	 			<div class="news-item-preview-text">
	 				Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. 
	 				Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. 
	 			</div>
	 			<div class="news-item-readmore">
	 				<a href="#">Подробно...</a>
	 			</div>
	 		</div>

 			<div class="news-item">
	 			<div class="news-item-title">
	 				Название темы
	 				<div class="news-item-date">Вчера 23:25</div>
	 			</div>
	 			<div class="news-item-separator"></div>
	 			<div class="news-item-preview-text">
	 				Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. 
	 				Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. 
	 			</div>
	 			<div class="news-item-readmore">
	 				<a href="#">Подробно...</a>
	 			</div>
	 		</div>

	 		<div class="news-item">
	 			<div class="news-item-title">
	 				Название темы
	 				<div class="news-item-date">Вчера 23:25</div>
	 			</div>
	 			<div class="news-item-separator"></div>
	 			<div class="news-item-preview-text">
	 				Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. 
	 				Русский текст. Русский текст. Русский текст. Русский текст. Русский текст. 
	 			</div>
	 			<div class="news-item-readmore">
	 				<a href="#">Подробно...</a>
	 			</div>
	 		</div>
 		</div>
 	</section>

 </article>

 <article class="right width10">

	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#">Зарегестрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#">Не можите войти?</a>
	</section> 	
 </article>