<ul>
    <li><a href="#/" data-alias='mainPage' data-component='content'>{{'Menu_Home'|translate}}</a></li>
    <li><a href="#/restaurant.html" data-alias='restaurant' data-component='content'>{{'Menu_Restaurant'|translate}}</a></li>
    <li><a href="#/pizzeria.html" data-alias='pizzeria' data-component='content'>{{'Menu_Pizzeria'|translate}}</a></li>
    <li><a href="#/ballroom.html" data-alias='ballroom' data-component='content'>{{'Menu_Banqueting_hall'|translate}}</a></li>
    <li><a href="#/gallery" data-alias='gallery' data-component='gallery'>{{'Menu_Gallery'|translate}}</a></li>
    <li><a href="#/history.html" data-alias='history' data-component='content'>{{'Menu_History'|translate}}</a></li>
    <li><a href="#/vacancies" data-alias='vacancies' data-component='vacancies'>{{'Menu_Vacancies'|translate}}</a></li>
    <li><a href="#/contacts.html" data-alias='contacts' data-component='content'>{{'Menu_Contact'|translate}}</a></li>

</ul>