<ul>
    <li><a href="#/" data-alias='mainPage' data-component='content'>Главная</a></li>
    <li><a href="#/restaurant.html" data-alias='restaurant' data-component='content'>Ресторан</a></li>
    <li><a href="#/pizzeria.html" data-alias='pizzeria' data-component='content'>Пиццерия</a></li>
    <li><a href="#/ballroom.html" data-alias='ballroom' data-component='content'>Банкетный зал</a></li>
    <li><a href="#/gallery" data-alias='gallery' data-component='gallery'>Галерея</a></li>
    <li><a href="#/history.html" data-alias='history' data-component='content'>История</a></li>
    <li><a href="#/vacancies" data-alias='vacancies' data-component='vacancies'>Вакансии</a></li>
    <li><a href="#/contacts.html" data-alias='contacts' data-component='content'>Контакты</a></li>

</ul>