 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
<!--  		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a> -->	
 	</div>
	<nav class="main-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
			<li><a href="#/gallery">Галерея</a></li>
			<li><a href="#/ballroom">Банкетный зал</a></li>
			<li><a href="#/history">История</a></li>
			<li><a href="#/vacancies">Вакансии</a></li>
			<li><a href="#/contacts">Контакты</a></li>
			<li> </li>
			<li> </li>
		</ul>
	</nav>	
 </article>

 <article class="container">
 		<h2>Новости ресторанного комплекса:</h2>
 		<div class="news-title">Шоу профессора «Вуаля»</div>
 		<div class="news-content">
 			Давняя мечта морской столицы – включить парусный спорт в школьные уроки физкультуры – получила
своё развитие: с нынешней осени у кадетских классов, организованных для питерских старшеклассников,
появилась возможность выходить в море на учебном парусно-моторном судне «Триумф».
 Этот бриг, известный и в России, и в Европе, соответствует всем жёстким нормативам мореплавания: участвует в международных культурных программах и регатах в качестве судейского судна.
 Прежде чем оказаться на борту в качестве дублёров команды, ребятам предстоит многому научиться – на теоретическую
подготовку и тренировки отводится ненавигационный периодгода.
<div class="image-box right">
	<img src="./img/content/g1904.png" />
	<div class="image-title">Шоу профессора «Вуаля» 18. 08. 2013 г.</div>
</div>
Теоретические занятия, организованные яхт-клубом при поддержке Петербургского погрануправления, включают основы навигации, управление кораблём, прикладные дисциплины, необходимые в плавании, общефизическую и начальную военную подготовку, а также историю флота, кораблестроения и России как великой морской державы. А закрепят полученные знания и навыки малые и большие походы по рекам и морям.
 В поздравлении глава российского государства высоко оценил успехи, достигнутые Арменией в решении актуальных вопросов социально-экономического, научно-технического и культурного развития, отметив и повышающийся авторитет республики в 
Владимир Путин также подчеркнул, что российско-армянские отношения, имеющие глубокие исторические корни, вышли на уровень союзнического партнёрства и продолжают интенсивно развиваться, что подтвердили, в частности, итоги недавнего визита Сержа Саргсяна в Москву.
 Кроме того, президент России выразил уверенность, что совместными усилиями государства обеспеча дальнейшее укрепление всего комплекса двусторонних связей, расширение конструктивного взаимо действия в различных многосторонних форматах, в том числе, в контексте присоединения Армении к Таможенному союзу, что, несомненно, отвечает коренным интересам братских народов двух стран.
 		</div>
 		
 		<div class="pagination rounded">
 			<div class="preview"><a href="#"><<НАЗАД</a></div>
 			<div class="page">1/10</div>
 			<div class="next"><a href="#">ДАЛЬШЕ>></a></div>
 		</div>

 </article>

 <article class="right width10">

<!-- 	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section>  -->	
 </article>