 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
<!--  		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a> -->	
 	</div>
	<nav class="main-menu">
        <!-- directive: mainMenu -->
	</nav>	
 </article>

 <article class="container">
	
		<h2>{{'VACANCIES_PAGE_TITLE'|translate}}</h2>
			<!-- <p>В данный момент нет ни одной вакансии.</p> -->
		<div class="vacancies">
            <div class="vacancy">
                <div class="position">
                    <div class="position-title"><b>Официанты</b></div>
                    <div class="position-content">
                        Ресторанному комплексу на постоянной основе требуются официанты.
                    </div>
                </div>
                <div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>{{'MORE_BTN' | translate}}...</b></a></div>
                <div class="position-description">
                    Требования к кандидату: Стаж работы не менее 1 года, приятная внешность, коммуникабельность, знание иностранных языков приветствуется, гостеприимность и вежливость.
                </div>
            </div>

            <div class="vacancy">
                <div class="position">
                    <div class="position-title"><b>Повара</b></div>
                    <div class="position-content">
                        Ресторанному комплексу на постоянной основе требуются повара.
                    </div>
                </div>
                <div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>{{'MORE_BTN' | translate}}...</b></a></div>
                <div class="position-description">
                    Ищем повара-универсала европейской кухни, по-настоящему любящего свое дело, умеющего готовить стабильно вкусно. Банкетные и обеденные блюда. Условия оплаты и другие вопросы оговариваются при встрече, на собеседовании.
                </div>
            </div>
<!-- 			<div class="vacancy">
				
				<div class="position">
					<div class="position-title"><b>Манагер P</b></div>
					<div class="position-content">
						— специалист по управлению производством и обращением товаров. Управляющие организуют работу на предприятии, руководят производственной 
							деятельностью сотрудников предприятия. Управляющий является должностным лицом предприятия, в котором он работает, и входит в средний и высший руководящий состав предприятий.
						
					</div>
				</div>
				<div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>Подробно</b></a></div>
				<div class="position-description">
					<div class="position-block">
						<b>Требования:</b>
						<ul>
							<li>муж./жен. 18-55 лет;</li>
							<li>среднее образование;</li>
							<li>без в/п;наличие санкнижки;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Обязанности:</b>
						<ul>
							<li>работа в торговом зале;</li>
							<li>выкладка товара;</li>
							<li>контроль срока годности продукции;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Условия:</b>
						<ul>
							<li>достойныйе условия труда;</li>
							<li>полный соц. пакет;</li>
							<li>бесплатное обучение;</li>
							<li>ежемесячные премии;</li>
							<li>молодой, дружный коллектив;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Заработная плата:</b>
						<ul>
							<li>от 3 500 000 руб.</li>
						</ul>
					</div>
					<div class="send-resume"><a href="#">Отправить резюме</a></div>
				</div>
			</div>

			<div class="vacancy">
				
				<div class="position">
					<div class="position-title"><b>Манагер P</b></div>
					<div class="position-content">— специалист по управлению производством и обращением товаров. Управляющие организуют работу на предприятии, руководят производственной 
						деятельностью сотрудников предприятия. Управляющий является должностным лицом предприятия, в котором он работает, и входит в средний и высший руководящий состав предприятий.</div>
				</div>
				<div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>Подробно</b></a></div>
				<div class="position-description">
					<div class="position-block">
						<b>Требования:</b>
						<ul>
							<li>муж./жен. 18-55 лет;</li>
							<li>среднее образование;</li>
							<li>без в/п;наличие санкнижки;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Обязанности:</b>
						<ul>
							<li>работа в торговом зале;</li>
							<li>выкладка товара;</li>
							<li>контроль срока годности продукции;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Условия:</b>
						<ul>
							<li>достойныйе условия труда;</li>
							<li>полный соц. пакет;</li>
							<li>бесплатное обучение;</li>
							<li>ежемесячные премии;</li>
							<li>молодой, дружный коллектив;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Заработная плата:</b>
						<ul>
							<li>от 3 500 000 руб.</li>
						</ul>
					</div>
					<div class="send-resume"><a href="#">Отправить резюме</a></div>
				</div>
			</div>

			<div class="vacancy">
				
				<div class="position">
					<div class="position-title"><b>Манагер P</b></div>
					<div class="position-content">
						— специалист по управлению производством и обращением товаров. Управляющие организуют работу на предприятии, руководят производственной 
							деятельностью сотрудников предприятия. Управляющий является должностным лицом предприятия, в котором он работает, и входит в средний и высший руководящий состав предприятий.
						
					</div>
				</div>
				<div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>Подробно</b></a></div>
				<div class="position-description">
					<div class="position-block">
						<b>Требования:</b>
						<ul>
							<li>муж./жен. 18-55 лет;</li>
							<li>среднее образование;</li>
							<li>без в/п;наличие санкнижки;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Обязанности:</b>
						<ul>
							<li>работа в торговом зале;</li>
							<li>выкладка товара;</li>
							<li>контроль срока годности продукции;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Условия:</b>
						<ul>
							<li>достойныйе условия труда;</li>
							<li>полный соц. пакет;</li>
							<li>бесплатное обучение;</li>
							<li>ежемесячные премии;</li>
							<li>молодой, дружный коллектив;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Заработная плата:</b>
						<ul>
							<li>от 3 500 000 руб.</li>
						</ul>
					</div>
					<div class="send-resume"><a href="#">Отправить резюме</a></div>
				</div>
			</div> -->
			
		</div>
 </article>

 <article class="right width10">

<!-- 	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#/registration">Зарегистрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#/recover">Не можите войти?</a>
	</section> 	 -->
 </article>