 <article class="menu left">
 	<nav class="mobile-menu"></nav>
 	<nav class="mobile-search"></nav>
 	<div class="nav-buttons">
 		<a href="#" class="left" onclick="mainJs.toggleMenu();return false;">
 			<div class="btn-menu"></div>
 		</a>
 		<a href="#" class="right">
 			<div class="btn-login" onclick="mainJs.toggleSearch();return false;"></div>
 		</a>	
 	</div>
	<nav class="main-menu">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#/restaurant">Ресторан</a></li>
			<li><a href="#/pizzeria">Пиццерия</a></li>
			<li><a href="#/gallery">Галерея</a></li>
			<li><a href="#/ballroom">Банкетный зал</a></li>
			<li><a href="#/history">История</a></li>
			<li class="active"><a href="#/vacancies">Вакансии</a></li>
			<li><a href="#/contacts">Контакты</a></li>
			<li><a href="#">Онлайн-чат</a></li>
			<li><a href="#">Call-Center</a></li>
		</ul>
	</nav>	
 </article>

 <article class="container">
	
		<h2>Вакансии в ресторанном комплексе "Туран"</h2>
		<div class="vacancies">

			<div class="vacancy">
				
				<div class="position">
					<div class="position-title"><b>Манагер P</b></div>
					<div class="position-content">
						— специалист по управлению производством и обращением товаров. Управляющие организуют работу на предприятии, руководят производственной 
							деятельностью сотрудников предприятия. Управляющий является должностным лицом предприятия, в котором он работает, и входит в средний и высший руководящий состав предприятий.
						
					</div>
				</div>
				<div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>Подробно</b></a></div>
				<div class="position-description">
					<div class="position-block">
						<b>Требования:</b>
						<ul>
							<li>муж./жен. 18-55 лет;</li>
							<li>среднее образование;</li>
							<li>без в/п;наличие санкнижки;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Обязанности:</b>
						<ul>
							<li>работа в торговом зале;</li>
							<li>выкладка товара;</li>
							<li>контроль срока годности продукции;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Условия:</b>
						<ul>
							<li>достойныйе условия труда;</li>
							<li>полный соц. пакет;</li>
							<li>бесплатное обучение;</li>
							<li>ежемесячные премии;</li>
							<li>молодой, дружный коллектив;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Заработная плата:</b>
						<ul>
							<li>от 3 500 000 руб.</li>
						</ul>
					</div>
					<div class="send-resume"><a href="#">Отправить резюме</a></div>
				</div>
			</div>

			<div class="vacancy">
				
				<div class="position">
					<div class="position-title"><b>Манагер P</b></div>
					<div class="position-content">— специалист по управлению производством и обращением товаров. Управляющие организуют работу на предприятии, руководят производственной 
						деятельностью сотрудников предприятия. Управляющий является должностным лицом предприятия, в котором он работает, и входит в средний и высший руководящий состав предприятий.</div>
				</div>
				<div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>Подробно</b></a></div>
				<div class="position-description">
					<div class="position-block">
						<b>Требования:</b>
						<ul>
							<li>муж./жен. 18-55 лет;</li>
							<li>среднее образование;</li>
							<li>без в/п;наличие санкнижки;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Обязанности:</b>
						<ul>
							<li>работа в торговом зале;</li>
							<li>выкладка товара;</li>
							<li>контроль срока годности продукции;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Условия:</b>
						<ul>
							<li>достойныйе условия труда;</li>
							<li>полный соц. пакет;</li>
							<li>бесплатное обучение;</li>
							<li>ежемесячные премии;</li>
							<li>молодой, дружный коллектив;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Заработная плата:</b>
						<ul>
							<li>от 3 500 000 руб.</li>
						</ul>
					</div>
					<div class="send-resume"><a href="#">Отправить резюме</a></div>
				</div>
			</div>

			<div class="vacancy">
				
				<div class="position">
					<div class="position-title"><b>Манагер P</b></div>
					<div class="position-content">
						— специалист по управлению производством и обращением товаров. Управляющие организуют работу на предприятии, руководят производственной 
							деятельностью сотрудников предприятия. Управляющий является должностным лицом предприятия, в котором он работает, и входит в средний и высший руководящий состав предприятий.
						
					</div>
				</div>
				<div class="position-read-more"><a onclick="mainJs.togglePositionDesc(this); return false;"><b>Подробно</b></a></div>
				<div class="position-description">
					<div class="position-block">
						<b>Требования:</b>
						<ul>
							<li>муж./жен. 18-55 лет;</li>
							<li>среднее образование;</li>
							<li>без в/п;наличие санкнижки;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Обязанности:</b>
						<ul>
							<li>работа в торговом зале;</li>
							<li>выкладка товара;</li>
							<li>контроль срока годности продукции;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Условия:</b>
						<ul>
							<li>достойныйе условия труда;</li>
							<li>полный соц. пакет;</li>
							<li>бесплатное обучение;</li>
							<li>ежемесячные премии;</li>
							<li>молодой, дружный коллектив;</li>
						</ul>
					</div>
					<div class="position-block">
						<b>Заработная плата:</b>
						<ul>
							<li>от 3 500 000 руб.</li>
						</ul>
					</div>
					<div class="send-resume"><a href="#">Отправить резюме</a></div>
				</div>
			</div>
			
		</div>
 </article>

 <article class="right width10">

	<section class="search-form">
	    <form>
	    	<input type="text" class="search" placeholder="Поиск по сайту..." /><br>
	    	<input type="submit" name="search" class="btn" value="Найти">
	    </form>
	</section> 	

	<section class="login-form">
	    <a href="#">Зарегестрироваться</a>
    	<form>
	   		<input type="text" placeholder="Имя" /><br>
	   		<input type="password" placeholder="Пароль" /><br>
	   		<input type="submit" name="search" class="btn" value="Войти"> 
	  	</form>
		<a href="#">Не можите войти?</a>
	</section> 	
 </article>