<div class="content">
<div class="container">

<div class="accoutn-menu">
    <ul>
        <li><a href="#">Заказать столик</a></li>
        <li><a href="#">Сообщения</a></li>
        <li><a href="#">Меню</a></li>
        <li><a href="#">Настройки</a></li>
        <li><a href="#">Отзывы и предложения</a></li>
    </ul>
</div>
<div class="accoutn-reserve-form-div">
    <p class="account-form-title">Заказать столик</p>
    <form class="std-form">
        <div class="row">
            <div class="left">Дата и время:</div>
            <div class="right">
                <input type="text" class="date">
                <div class="select">
                    <select>
                        <option value="10:00" selected="">10:00</option>
                        <option value="10:30">10:30</option>
                        <option value="11:00">11:00</option>
                        <option value="11:30">11:30</option>
                        <option value="12:00">12:00</option>
                        <option value="12:30">12:30</option>
                        <option value="13:00">13:00</option>
                        <option value="13:30">13:30</option>
                        <option value="14:00">14:00</option>
                        <option value="14:30">14:30</option>
                        <option value="15:00">15:00</option>
                        <option value="15:30">15:30</option>
                        <option value="16:00">16:00</option>
                        <option value="16:30">16:30</option>
                        <option value="17:00">17:00</option>
                        <option value="17:30">17:30</option>
                        <option value="18:00">18:00</option>
                        <option value="18:30">18:30</option>
                        <option value="19:00">19:00</option>
                        <option value="19:30">19:30</option>
                        <option value="20:00">20:00</option>
                        <option value="20:30">20:30</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">Зал и количество мест</div>
            <div class="right">
                <div class="select saloon">
                    <select>
                        <option value="1" selected="">Ресторан</option>
                        <option value="2">Пиццерия</option>
                        <option value="3">Банкетный зал</option>
                    </select>
                </div>
                <div class="select">
                    <select>
                        <option value="1" selected="">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">Контактное лицо</div>
            <div class="right"><input type="text" placeholder="ФИО"></div>
        </div>
        <div class="row">
            <div class="left">Контактный телефон</div>
            <div class="right"><input type="text" placeholder="Телефон"></div>
        </div>
        <div class="row">
            <div class="left">Email</div>
            <div class="right"><input type="text" placeholder="Email *"></div>
        </div>
        <div class="row">
            <div class="left">Дополнительно</div>
            <div class="right"><textarea rows="5" cols="30"></textarea></div>
        </div>
        <!--


        <input type="password" class="key" placeholder="Пароль">
        <input type="password" class="key" placeholder="Повторно пароль">
         -->
        <div class="row">
            <div class="left"></div>
            <div class="right"><center><input type="submit" class="btn btn-dark" value="Заказать"></center></div>
        </div>

    </form>
</div>
<div class="accoutn-order-history-div">
    <p class="account-form-title">История заказов</p>

    <div class="order-history-list">
        <div class="order-history-item">
            <div class="order-info">
                <div class="order-info title">5 Ресторан</div>
                <div class="order-status edit"></div>
            </div>
            <div class="order-form">
                <form class="order-edit-form">
                    <input type="text" class="date">
                    <div class="select">
                        <select>
                            <option value="10:00" selected="">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                        </select>
                    </div>
                    <input type="text" value="+375121234567">
                    <div class="clear"></div>
                    <div class="select saloon">
                        <select>
                            <option value="1" selected="">Ресторан</option>
                            <option value="2">Пиццерия</option>
                            <option value="3">Банкетный зал</option>
                        </select>
                    </div>
                    <div class="select">
                        <select>
                            <option value="1" selected="">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <input type="text" value="ivanov@gmail.com">
                    <div class="clear"></div>
                    <input type="text" class="contact-name" value="Ивенов Иван Иваныч">
                    <div class="clear"></div>
                    <div class="actions-btn">
                        <input type="submit" class="btn btn-dark" value="Редактировать">
                        <input type="submit" class="btn btn-dark" value="Сохранить">
                        <div class="clear"></div>
                        <input type="submit" class="btn btn-dark cancel" value="Отменить заказ">

                    </div>
                    <textarea  rows="10" cols="30"></textarea>


                </form>
            </div>
        </div>



        <div class="order-history-item">
            <div class="order-info">
                <div class="order-info title">4 Ресторан</div>
                <div class="order-status deleted"></div>
            </div>
        </div>



        <div class="order-history-item">
            <div class="order-info">
                <div class="order-info title">3 Ресторан</div>
                <div class="order-status accepted"></div>
            </div>
        </div>

    </div>
</div>

</div>
</div>
