<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
</head>
<body>

	<div class="header">
		<div class="container">

			<div class="languages">
				<a href="#" class="ru active">rus</a>
				<span class="separator">&#8226</span>
				<a href="#" class="en">eng</a>
			</div>


			<div class="menu">
				<ul>
					<span class="left">
						<li><a href="#">Ресторан</a></li>
						<li><a href="#">Пиццерия</a></li>
						<li><a href="#">Банкетный зал</a></li>
						<li><a href="#">Галерея</a></li>
				    </span>
					<span class="right">
						<li><a href="#">Акции</a></li>
						<li><a href="#">События</a></li>
						<li><a href="#">Новости</a></li>
						<li><a href="#">Личный кабинет</a></li>
					</span>	
				</ul>

			</div>


		</div>
	</div>


<div class="content">
		<div class="container">
			<div class="content-title">Ресторанный комплекс Туран</div>
			<div class="content-conteiner">Туран создан для того, чтобы Вы могли воплотить все свои желания и фантазии в жизнь.
						Уникальность ресторанного комплекса состоит в том, что здесь каждый может найти зал по своему вкусу. Празднуете день рождения? Добро пожаловать в пиццерию! Организовывайте корпоратив? К вашим услугам ресторан. Планируйте роскошную свадьбу? Приглашаем в банкетный зал.
						Развлекательные программы, юмористические шоу, театрализованные представления, карнавальные вечеринки – мы готовы удивлять наших гостей снова и снова, сопровождая каждый праздник уникальными развлекательными номерами и живой музыкой. «Туран» – это идеальное сочетание отдыха для души и тела.
			</div>
		</div>
</div>


<div class="contacts">
	<div class="container">
		<div class="contact-title">Контакты</div>
		<div class="contact-image"></div>
		<div class="contact-text">

				<p>Адрес:</p>
				<span class='contact-text-grey'>
				230020, Республика Беларусь<br>
				 г. Гродно, проспект Клецкова 15а<br>
				</span> 
				<br>
				<p>Пиццерия:</p>
				<span class='contact-text-grey'>
				Тел.: 8 (0152) 51-00-51<br>
				 +375(33) 300-00-84 (МТС)<br>
				 +375(44) 566-22-27 (Velcom)<br>
				 </span> 
				 <br>
				<p>Ресторан:</p>
				<span class='contact-text-grey'>
				Тел.: 8 (0152) 50-92-86<br>
				 +375(33) 300-00-85 (МТС)<br>
				 +375(44) 566-22-28 (Velcom)<br>
				 </span> 
				 <br>
				Электронная почта:<br>
				<a href="mailto:info@turan.by">info@turan.by</a><br>

				<span class="social">
					<a href="#"><img src="img/icon-fb.png"></a>
					<a href="#"><img src="img/icon-vk.png"></a>
				</span>
		</div>

		<div class="footer">
			<span class="left">Copyright © 2014 Turan Inc. All rights reserved</span>
			<span class="right"><a href="#">Вакансии</a></span>
		</div>

	</div>
</div>	


			

<script languages="javascript">
$(document).ready(function(){
  $('.slider').bxSlider({ // http://bxslider.com/options
  	slideWidth: 720,
    minSlides: 1,
    maxSlides: 1,
    slideMargin: 10,
    pager: false,
    nextText: '',
    prevText: '',
    auto: true,
    pause: 6000
  });
});
</script>

</body>
</html>