<div class="content">
		<div class="container">
			<div class="content-title">Личный кабинет</div>
			<div class="content-conteiner">
				<div class="form-div">
					<p>Ресторанный комплекс Туран</p>
					<form class="std-form loginForm form-centered" ng-submit="loginAction()" role="form">

                        <div ng-show="loginFormErrors.message" class="error">
                            <span>{{loginFormErrors.message | translate}}</span>
                        </div>

                        <div ng-show="loginFormErrors.username" class="error">
                            <span>{{loginFormErrors.username | translate}}</span>
                        </div>
						<input type="text" class="email" ng-model="loginForm.username" placeholder="email *">

                        <div ng-show="loginFormErrors.password" class="error">
                            <span>{{loginFormErrors.password | translate}}</span>
                        </div>
						<input type="password" class="key" ng-model="loginForm.password" placeholder="пароль">

                        <div class="links"><a href="#/recover">восставления пароля</a>   <a href="#/registration">регистрация</a></div>
						<center><input type="submit" class="btn btn-dark" value="Вход"></center>
					</form>
				</div>
			</div>
		</div>
</div>