<div class="content">
		<div class="container">
			<div class="content-title">Личный кабинет</div>
			<div class="content-conteiner">
				<div class="form-div">
					<p>Ресторанный комплекс Туран</p>
					<form class="std-form login-form" ng-submit="loginAction()" role="form">

                        <div ng-if="loginFormErrors" class="error">
                            <span>{{loginFormErrors}}</span>
                        </div>

						<input type="text" class="email" ng-model="loginform.username" placeholder="email *">
						<input type="password" class="key" ng-model="loginform.password" placeholder="пароль">
						<div class="links"><a href="#/recover">восставления пароля</a>   <a href="#/registration">регистрация</a></div>
						<center><input type="submit" class="btn btn-dark" value="вход"></center>
					</form>
				</div>
			</div>
		</div>
</div>