<div class="content">
		<div class="container">
			<div class="content-title">Личный кабинет</div>
			<div class="content-conteiner">
				<div class="form-div">
					<p>Ресторанный комплекс Туран</p>
					<form class="std-form" ng-submit="loginAction()" role="form">

                        <div ng-show="loginFormErrors" class="error">
                            <span>{{loginFormErrors}}</span>
                        </div>

						<input type="text" class="email" ng-model="loginForm.username" placeholder="Email *">
						<input type="password" class="key" ng-model="loginForm.password" placeholder="Пароль">
						<div class="links"><a href="#/recover">Восставления пароля</a>   <a href="#/registration">Регистрация</a></div>
						<center><input type="submit" class="btn btn-dark" value="Вход"></center>
					</form>
				</div>
			</div>
		</div>
</div>