        <div class="menu">
            <ul>
                <span class="left">
                    <li><a href="#/restaurant.html">{{"MAIN_MENU_RESTAURANT" | translate}}</a></li>
                    <li><a href="#/pizzeria.html">{{"MAIN_MENU_PIZZERIA" | translate}}</a></li>
                    <li><a href="#/ballroom.html">{{"MAIN_MENU_BANQUETING_HALL" | translate}}</a></li>
                    <li><a href="#/gallery">{{"MAIN_MENU_GALLERY" | translate}}</a></li>
                </span>
                <span class="right">
                    <li><a href="#">{{"MAIN_MENU_PROMOTIONS" | translate}}</a></li>
                    <li><a href="#">{{"MAIN_MENU_EVENTS" | translate}}</a></li>
                    <li><a href="#">{{"MAIN_MENU_NEWS" | translate}}</a></li>
                    <li><a href="#">{{"MAIN_MENU_PERSONAL_ACCOUNT" | translate}}</a></li>
                </span> 
            </ul>

        </div>