<div class="content">
		<div class="container">
			<div class="content-title">Восстановление пароля</div>
			<div class="content-conteiner">
				<div class="form-div">
					<p>Ресторанный комплекс Туран</p>
					<form class="std-form" ng-submit="recoverAction()" role="form">
						<input type="text" class="email" ng-model="recoverForm.email" placeholder="Email *">
						<center><input type="submit" class="btn btn-dark" value="Восстановление пароля"></center>
					</form>
					<div class="registation-info">
					*Введите электронный адрес, указанный при регистрации. Если вам не приходит письмо с паролем, пожалуйста, повторите попытку через некоторое время</div>
				</div>
			</div>
		</div>
</div>