/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

    html,
    button,
    input,
    select,
    textarea {
        color: #222;
    }

    html{
        background:black;
        background:url('../img/background.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-color: rgb(63, 14, 54)
    }

    body {
        font-size: 1em;
        line-height: 1.4;
        color: #DEC9E2;
        max-width: 1450px;
        min-width: 100px;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        font: 16px/26px Helvetica Neue, Helvetica, Arial;
        overflow-x: hidden;
    }

    ::-moz-selection {
        background: #DEC9E2;
        text-shadow: none;
    }

    ::selection {
        background: #DEC9E2;
        text-shadow: none;
    }

    img {
        vertical-align: middle;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }

    .wrapper {
        width: 90%;
        margin: 0 5%;
    }

    a{
        font-size: 1em;
        line-height: 1.4;
        color: #DEC9E2; 
    }

    .header-container {
        height: 100%;
        padding-bottom: 2em;
    }

    .logo img{
        margin: 0 auto;
        height: 125px;
        width: 300px;
    }

    .title {
        color: #DEC9E2;
    }


    .ie7 .title {
        padding-top: 20px;
    }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    a.lang{
        text-decoration: none;
        color: #DEC9E2;
    }
    a.lang.active{
        font-weight: bold;
    }
    
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav li a{
        text-decoration: none;
        color: #DEC9E2;
        margin-left: 20px;
    }

    nav li.active{
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a082a1), color-stop(1, #7f507d) );
        background:-moz-linear-gradient( center top, #a082a1 5%, #7f507d 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a082a1', endColorstr='#7f507d');
        background-color:#a082a1;
        -webkit-border-top-left-radius:6px;
        -moz-border-radius-topleft:6px;
        border-top-left-radius:6px;
        -webkit-border-top-right-radius:6px;
        -moz-border-radius-topright:6px;
        border-top-right-radius:6px;
        -webkit-border-bottom-right-radius:6px;
        -moz-border-radius-bottomright:6px;
        border-bottom-right-radius:6px;
        -webkit-border-bottom-left-radius:6px;
        -moz-border-radius-bottomleft:6px;
        border-bottom-left-radius:6px;
    }

    nav li.active a{
        color: #000000;
    }

    nav li:hover{
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a082a1), color-stop(1, #7f507d) );
        background:-moz-linear-gradient( center top, #a082a1 5%, #7f507d 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a082a1', endColorstr='#7f507d');
        background-color:#a082a1;
        -webkit-border-top-left-radius:6px;
        -moz-border-radius-topleft:6px;
        border-top-left-radius:6px;
        -webkit-border-top-right-radius:6px;
        -moz-border-radius-topright:6px;
        border-top-right-radius:6px;
        -webkit-border-bottom-right-radius:6px;
        -moz-border-radius-bottomright:6px;
        border-bottom-right-radius:6px;
        -webkit-border-bottom-left-radius:6px;
        -moz-border-radius-bottomleft:6px;
        border-bottom-left-radius:6px;
    }

    nav li:hover a{
        color: #000000;   
    }

    input, textarea, select{
         border: 1px solid #DEC9E2;
         border-radius: 5px 5px 5px 5px;
         margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], textarea{
        padding-left: 10px;
        font-size: 100%;
        padding-right: 5px;
        min-height: 23px;
        width: 185px;   
    }
    input[type="text"].search{
        background-image:url('../img/search.png');
        background-repeat:no-repeat;
        background-size: 23px auto;
        padding-left:23px;
        width: 170px;
    }


    .btn {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a082a1), color-stop(1, #7f507d) );
        background:-moz-linear-gradient( center top, #a082a1 5%, #7f507d 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a082a1', endColorstr='#7f507d');
        background-color:#a082a1;
        -webkit-border-top-left-radius:6px;
        -moz-border-radius-topleft:6px;
        border-top-left-radius:6px;
        -webkit-border-top-right-radius:6px;
        -moz-border-radius-topright:6px;
        border-top-right-radius:6px;
        -webkit-border-bottom-right-radius:6px;
        -moz-border-radius-bottomright:6px;
        border-bottom-right-radius:6px;
        -webkit-border-bottom-left-radius:6px;
        -moz-border-radius-bottomleft:6px;
        border-bottom-left-radius:6px;
        text-indent:0;
        border: 0px;
        display:inline-block;
        color:#241120;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        font-style:normal;
        height:30px;
        line-height:30px;
        width: auto;
        min-width: 70px;
        text-decoration:none;
        text-align:center;
    }
    .btn:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f507d), color-stop(1, #a082a1) );
        background:-moz-linear-gradient( center top, #7f507d 5%, #a082a1 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f507d', endColorstr='#a082a1');
        background-color:#7f507d;
    }

    .btn:active {
        position:relative;
        top:1px;
    }

    a.btn{
        line-height:25px;
        height: 25px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .header-container .left{
        text-align: left;

    }

    .header-container header, article.right{
        text-align: center;
        padding-bottom: 1em;
    }

    .rounded{
        background-color: rgba(63, 14, 54, 0.6);
        -webkit-border-top-left-radius:15px;
        -moz-border-radius-topleft:15px;
        border-top-left-radius:15px;
        -webkit-border-top-right-radius:15px;
        -moz-border-radius-topright:15px;
        border-top-right-radius:15px;
        -webkit-border-bottom-right-radius:15px;
        -moz-border-radius-bottomright:15px;
        border-bottom-right-radius:15px;
        -webkit-border-bottom-left-radius:15px;
        -moz-border-radius-bottomleft:15px;
        border-bottom-left-radius:15px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .news{
        padding-top: 2em;
    }
    .news-items{
        display: block;
    }
    .news-item{
        display: block;
        margin-bottom: 25px;
    }

    .news-item-title{
        font-size: 20px;
        font-weight: bolder;      
    }
    .news-item-date{
        font-size: 12px;
        font-weight: normal; 
        display: inline;
        float: right;
        clear: both;
    }
    .news-item-separator{
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #b0946b;
    }
    .news-item-preview-text{

    }

    .news-item-readmore{
        font-weight: bolder; 
        float: right;
        clear: both;
    }

    .mobile-menu{
        width: 250px;
        height: auto;
        position: absolute;
        left: -255px;
        top: 0px;
        visibility: visible;
        z-index: 10;
    }

    .mobile-search{
        width: 250px;
        height: auto;
        position: absolute;
        right: -255px;
        top: 0px;
        visibility: visible;
        z-index: 10;
    }
    
    .image-box{
        margin: 7px 7px 7px 7px;
    }
    .image-box.right{
        float: right;
    }

    .image-box.left{
        float: left;
    }

    .image-box, .image-box img{
        width: 250px;
        height: 225px;
    }
    .image-item{
        padding: 5px;
    }
    .image-item.left{
        float: left;
    }

    .image-item.right{
        float: right;
    }

    .image-item, .image-item img{
        width: 160px;
        height: auto;
    }

    .image-item.video-box{
        width: auto;
    }
    .video-box, .video-box video{
        width: 250px;
        height: 225px;
    }

    .image-box .image-title{
        top: -55px;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        height: 55px;
        overflow: hidden;
        background: rgba(63, 14, 54, 0.9);
    }
    .image-box a, .image-title a{
        text-decoration: none;
        font-weight: bolder;
    }
    .news-title{
        font-size: 110%;
        margin-bottom: 10px;
    }

    .gallery-description, .contacts-description{
        padding: 5px 5px 5px 5px;
        background: rgba(63, 14, 54, 0.2);    
        -webkit-border-top-left-radius:15px;
        -moz-border-radius-topleft:5px;
        border-top-left-radius:5px;
        -webkit-border-top-right-radius:5px;
        -moz-border-radius-topright:5px;
        border-top-right-radius:5px;
        -webkit-border-bottom-right-radius:5px;
        -moz-border-radius-bottomright:5px;
        border-bottom-right-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-bottomleft:5px;
        border-bottom-left-radius:5px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .gallery-item-description{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-weight: bold;
    } 

    .gallery-links a{
        font-weight: bolder;
        margin-right: 15px;
    }
    .gallery-links a:hover{
        text-decoration: none;
        color: #aa65a3;
    }

    .address h3{
        margin: 0px;
        height: auto;
    }
    .phones{
        margin-top: 15px;
    }

    .call-center{
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        text-align: center;
    }
    .call-center img{
        width: 80px;
       
    }
  
    .company-data{
        display: block;
    }
    .company-data h3{
        margin-top: 25px;
        margin-bottom: 0px;
        clear: both;
    }
    .company-data p{
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .history > p:first-letter{
        font-weight: bolder;
        font-size: 150%;
    }

    .history p.right {
        float: right;
    }

    .vacancy.position:first-child{
        border-top: none;
        margin-right: 25px;
    }

    .position{
        border-top: 1px solid #b0946b;
        margin-right: 25px;
        margin-top: 10px;
    }

    .position-title{
        width: auto;
        display: inline;
        float: left;
        margin: 0px 15px 0px 5px;
    }

    .position-read-more{
        text-align: right;
        margin-right: 25px;
        display: block;
    }
    
    .position-read-more a{
        text-decoration: underline;
        cursor: pointer;
    }

    .position-description{
       padding: 5px 5px 5px 10px; 
       margin-right: 25px;
       margin-top: 10px;
       background: rgba(63, 14, 54, 0.3);
       border-top: 1px solid #b0946b;  
       border-bottom: 1px solid #b0946b; 
       display: none;
    }

    .position-block{
        display: inline;
        float: left;
        width: 24%;
        padding-right: 5px;
    }

    .position-block ul{
        margin-top: 5px;
        padding-left: 0px;
    }

    .position-block li{
        list-style-type: none;
    }

    .position-block li:before{
        content: '- ';
    }

    .send-resume{
        display: block;
        width: 100%;
        text-align: right;
        clear: both;
    }

    .send-resume a{
        margin-right: 5px;
    }

    .contacts-description{
        /*width: 95%; */
        width: 98%;
        height: auto;
        margin: auto auto;
        content: " ";
        float: left;
        margin-bottom: 25px;
    }

    .contacts-description .position-block{
        width: 32%;
        height: auto;
        word-wrap: break-word;
    }
    .contacts-description .position-block b{
        font-size: 110%;
    }


    .sub-menu ul{
        list-style: none;
        margin-right: 10px;
        padding: 0;
    }
    .sub-menu ul li a{
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
        
    }
    .sub-menu ul li a:hover{
        color: #aa65a3;
    }

    div.panoram-view{
        display: inline;
        width: 100%;
    }

    div.panoram-view.ballroom{
        float: right;
    }

        .left, .center, .right{
        display: inline;
        float: left;
    }

 .pagination{
        border-radius: 0;
        width: 500px;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        clear: both;
    }

    .pagination .preview,
    .pagination .page,
    .pagination .next{
        display: inline;
        font-weight: bolder;
    }
    .pagination .preview{
        float: left;
    }
    .pagination .next{
        float: right;
    }

    .recover-form{
        display: block;
        float: right;
        width: 100%;
    }
    .form .row{
        width: 100%;
        float: right;
    }
    .form .left, .form .right{
        display: inline-block;
        min-width: 230px;
        content: " ";
    } 
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
img.main-panoram-view{
    width: 100%;
    padding-bottom: 5px;
}
.info{
    padding-left: 10px;
}

#saloon{
    width: 145px;
}
#seats{
    width: 50px;
}
#request_time{
    width: 70px;
}
#request_date, input.request_date{
    width: 90px;
    display: inline;
}

.table-condensed{
    background: #714679;
}
.bootstrap-datetimepicker-widget.dropdown-menu.pull-right{

    position: absolute;
    top: 351.8125px;
    left: 559.078125px;
    right: 0px !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
    display: none;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings-white.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.icon-calendar {
    background-position: -192px -120px;
}