admin_news_homepage:
    pattern:  /
    defaults: { _controller: AdminNewsBundle:Default:index }
    
admin_news_categories_index:
    pattern:  /categories
    defaults: { _controller: AdminNewsBundle:NewsCategories:index }
    requirements:
                _method:  GET
    
admin_news_categories_list:
    pattern:  /categories/list()
    defaults: { _controller: AdminNewsBundle:NewsCategories:list }
    requirements:
                _method:  GET
                
admin_news_categories_create:
    pattern:  /categories/create()
    defaults: { _controller: AdminNewsBundle:NewsCategories:create }
    
admin_news_categories_edit:
    pattern:  /categories/edit({categoryID})
    defaults: { _controller: AdminNewsBundle:NewsCategories:edit }
    requirements:
                _method:  GET
                categoryID: \d+
                
admin_news_categories_save:
    pattern:  /categories/save({categoryID})
    defaults: { _controller: AdminNewsBundle:NewsCategories:save }
    requirements:
                _method:  POST
                categoryID: \d+
                
admin_news_categories_delete:
    pattern:  /categories/delete({categoryID})
    defaults: { _controller: AdminNewsBundle:NewsCategories:delete }
    requirements:
                _method:  GET
                categoryID: \d+
                
admin_news_index:
    pattern:  /index
    defaults: { _controller: AdminNewsBundle:News:index }
    requirements:
                _method:  GET
                
admin_news_list:
    pattern:  /list()
    defaults: { _controller: AdminNewsBundle:News:list }
    requirements:
                _method:  GET
                
admin_news_create:
    pattern:  /create()
    defaults: { _controller: AdminNewsBundle:News:create }
    
admin_news_edit:
    pattern:  /edit({newsID})
    defaults: { _controller: AdminNewsBundle:News:edit }
    requirements:
                _method:  GET
                newsID: \d+
                
admin_news_save:
    pattern:  /save({newsID})
    defaults: { _controller: AdminNewsBundle:News:save }
    requirements:
                _method:  POST
                newsID: \d+
                
admin_news_delete:
    pattern:  /delete({newsID})
    defaults: { _controller: AdminNewsBundle:News:delete }
    requirements:
                _method:  GET
                newsID: \d+
