{% extends 'AdminMainBundle:Default:index.html.twig' %}

{%block page_title_h1 %}
    <h1 style="display: inline">
        {%trans%}AOB_ORDERS_DASHBOARD{%endtrans%}
        <a href="{{ path('_admin_main_homepage') }}" class="btn btn-primary">
            {%trans%}AOB_BACK{%endtrans%}
        </a>
    </h1>
{%endblock page_title_h1 %}

{% block container %}
    <br />

    {% block javascripts %}

        <script type="text/javascript">

            $(document).ready(function() {

                $('body').on('click', '.show-deleted', function() {
                    var $deletedOrders = ($(this).attr('data-shown') == 'false') ? true : false;
                    $.ajax({
                        url: $(this).data('ajax-url'),
                        type: 'POST',
                        dataType: 'json',
                        data: {deletedOrders: $deletedOrders},
                        success: function(data) {
                            if (data.status) {
                                $('.orders-table').html(data.content);
                            }
                        },
                        complete: function() {
                            if ($('.show-deleted').attr('data-shown') == 'false') {
                                $('.show-deleted').attr('data-shown', 'true');
                            } else {
                                $('.show-deleted').attr('data-shown', 'false');
                            }
                        }
                    });
                });

                $('body').on('click', '.view-order', function() {
                    $.ajax({
                        url: $(this).data('ajax-url'),
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            if (data.status) {
                                $('body').html($('body').html() + data.content);
                                $('.modal').modal();
                            }
                        }
                    });
                });

            });

        </script>

    {% endblock javascripts %}

        <span class="show-deleted" style="float: right; cursor: pointer;" data-shown="false" data-ajax-url="{{ path('admin_order_list') }}">
            Показать удаленные
        </span>
        <table class="table table-bordered table-striped orders-table">

            {% if content is defined and content != null %}
                {{ content | raw }}
            {% else %}
                <tbody>
                    <tr><td colspan="5">{%trans%}AOB_NO_ORDERS{%endtrans%}</td></tr>
                </tbody>
            {% endif %}
        </table>
    
{% endblock container %}
