admin_order_homepage:
    pattern:  /index
    defaults: { _controller: AdminOrderBundle:Default:index }

admin_order_list:
    pattern:  /list
    defaults: { _controller: AdminOrderBundle:Orders:list }

admin_order_save:
    pattern:  /save/{orderId}
    defaults: { _controller: AdminOrderBundle:Orders:save }
    requirements:
              _method:  POST
              orderId:  \d+

admin_order_delete:
    pattern:  /delete/{orderId}
    defaults: { _controller: AdminOrderBundle:Orders:delete }
    requirements:
              _method:  POST
              orderId:  \d+

admin_order_view:
    pattern:  /view/{orderId}
    defaults: { _controller: AdminOrderBundle:Orders:view }
    requirements:
              _method:  GET
              orderId:  \d+
